<div class="navigation">
  <div class="nav-holder">
    <div class="l-nav">
      <p>Manasseh</p>
      <span class="logo"><small>MK</small></span>
    </div>

    <div class="m-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div>

    <div class="r-nav">
      <a class="button" href="#">Contact</a>
    </div>
  </div>
</div>

<div class="introduction">
  <div class="intro-wrapper">
    <div class="l-intro">
      <div class="intro-wave">
        <img style="width: 10rem;" src="../assets/images/wave1-removebg-preview.png" alt="image">
      </div>
      <div class="intro-salute">
        <h4>Hi, I Am</h4>
        <h4 style="color: orange;">Manasseh Kinyua</h4>
      </div>
      
      <div class="intro-info">
        <small>A professional and passionate FullStack Web Developer and Mobile App Development Enthusiast.</small> <br>
        <small>Qualified and Proven to deliver quality Web Applications.</small>
      </div>

      <div class="intro-btns">
        <a class="button" href="#">Download CV</a>
        <a class="button" href="#">Digital CV</a>
      </div>
    </div>
  
    <div class="r-intro">
      <div class="r-intro-images">
        <div class="me">
          <img class="img1" src="../assets/images/AirBrush_20211212085423-1_2__1_-removebg_3-removebg-preview.png" alt="nasseh img">
        </div>
        <div class="vectors">
          <img class="img2" src="../assets/images/Vector1-removebg-preview.png" alt="blue vector">
          <img class="img3" src="../assets/images/Vector2-removebg-preview.png" alt="orange vector">
        </div>
      </div>

      <div class="theme-options-holder">
        <div class="theme-header">
          <h4>Switch Themes</h4>
        </div>
        <hr>
        <div class="theme-options">
          <div class="light-option"></div>
          <div class="dark-option"></div>
          <div class="blue-option"></div>
          <div class="green-option"></div>
        </div>
      </div>

      <div class="intro-emoji-holder">
        <img src="../assets/images/glassesimoji.png" alt="glassesimoji">
      </div>

      <div class="floating-div-1">
        <img src="../assets/images/crown.png" alt="">
        <div>
          <p>Web</p>
          <p>Developer</p>
        </div>
      </div>

      <div class="floating-div-2">
        <img src="../assets/images/thumbup.png" alt="">
        <div>
          <p>Web</p>
          <p>Designer</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <!-- <div class="about-header">
    <h3>About Me</h3>
    <h4>Interests</h4>
  </div> -->
  <div class="about-wrapper">
    <div class="l-about">
      <div class="l-about-header">
        <h3>About Me &</h3>
        <h4>Interests</h4>
      </div>

      <div class="l-about-info">
        <p>I am a solution-oriented Software Developer and a lifelong learner with a professional background in Web Development.
        I am greatly motivated by the opportunity that software provides to positively impact the life of an individual and the world as a whole.
        <p>I enjoy development because of the satisfaction that I get by overcoming challenges.</p>
      </div>
    </div>

    <div class="r-about">
      <div class="r-about-header">
        <h3>Social Links</h3>
        <h4>Find Me</h4>
      </div>

      <div class="overlapping-circles">
        <div class="circle-1">
          
        </div>
        <div class="circle-2">

        </div>
      </div>

      <div class="social-circle">
        <div class="git-hub">
          <a href="#"><img src="../assets/images/github.png" alt="github"></a>
        </div>
        <div class="linkedin">
          <a href="#"><img src="../assets/images/linkedin.png" alt="github"></a>
        </div>
        <div class="instagram">
          <a href="#"><img src="../assets/images/instagram.png" alt="github"></a>
        </div>
        <div class="facebook">
          <a href="#"><img src="../assets/images/facebook-removebg-preview.png" alt="github"></a>
        </div>
        <div class="twitter">
          <a href="#"><img src="../assets/images/twitter-removebg-preview.png" alt="github"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="services-wrapper">
    <div class="services-header">
      <h3>My Awesome</h3>
      <h4>Services</h4>
    </div>

    <div class="services-holder">
      <div class="service-1 service-card">
        <div class="service-card-img">
          <img src="../assets/images/glasses.png" alt="">
        </div>

        <div class="service-card-header">
          <h4>Developer</h4>
        </div>
        <div class="service-card-info">
          <p>I always work on delivering quality scalable FullStack web applications</p>
        </div>
      </div>

      <div class="service-1 service-card">
        <div class="service-card-img">
          <img src="../assets/images/heartemoji.png" alt="">
        </div>

        <div class="service-card-header">
          <h4>Design</h4>
        </div>
        <div class="service-card-info">
          <p>I always work on delivering quality design for your applications</p>
        </div>
      </div>

      <div class="service-1 service-card">
        <div class="service-card-img">
          <img src="../assets/images/humble.png" alt="">
        </div>

        <div class="service-card-header">
          <h4>UI/UX</h4>
        </div>
        <div class="service-card-info">
          <p>I always work on delivering quality user interfaces and user experiences</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="experience">
  <div class="experience-holder">
    <div class="blur">

    </div>
    <div class="experience-circle">
      <div class="circle">
        <h3>1</h3>
      </div>
      <div class="exp-text">
        <p>Year</p>
        <p style="color: orange;">Experience</p>
      </div>
    </div>
    <div class="experience-circle">
      <div class="circle">
        <h3>10+</h3>
      </div>
      <div class="exp-text">
        <p>Projects</p>
        <p style="color: orange;">Completed</p>
      </div>
    </div>
    <div class="experience-circle">
      <div class="circle">
        <h3>1</h3>
      </div>
      <div class="exp-text">
        <p>Company</p>
        <p style="color: orange;">Worked For</p>
      </div>
    </div>
    <div class="blur-2">
      
    </div>
  </div>
</div>

<div class="skills">
  <div class="skills-wrapper">
    <div class="frontend">
      <div class="skill-card">

      </div>
    </div>
    <div class="backend">
      <div class="skill-card">
        
      </div>
    </div>
    <div class="fullstack">
      <div class="skill-card">
        
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-text">
      <p>nassehkinyua@gmail.com</p>
    </div>
    <div class="footer-icons">
      <!-- <mat-icon class="footer-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="githhub-box">githhub-box</mat-icon> -->
    </div>
  </div>
</div>