<div class="navigation">
  <div class="nav-holder">
    <div class="l-nav">
      <p>Manasseh</p>
      <span class="logo"><small>MK</small></span>
    </div>

    <div class="m-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div>

    <div class="r-nav">
      <a class="button" href="#">Contact</a>
    </div>
  </div>
</div>

<div class="introduction">
  <div class="intro-wrapper">
    <div class="l-intro">
      <div class="intro-wave">
        <img style="width: 10rem;" src="../assets/images/wave1-removebg-preview.png" alt="image">
      </div>
      <div class="intro-salute">
        <h4>Hi, I Am</h4>
        <h4 style="color: orange;">Manasseh Kinyua</h4>
      </div>
      
      <div class="intro-info">
        <small>A professional and passionate FullStack Web Developer and Mobile App Development Enthusiast.</small> <br>
        <small>Qualified and Proven to deliver quality Web Applications.</small>
      </div>

      <div class="intro-btns">
        <a class="button" href="#">Download CV</a>
        <a class="button" href="#">Digital CV</a>
      </div>
    </div>
  
    <div class="r-intro">
      <div class="r-intro-images">
        <div class="me">
          <img class="img1" src="../assets/images/AirBrush_20211212085423-1_2__1_-removebg_3-removebg-preview.png" alt="nasseh img">
        </div>
        <div class="vectors">
          <img class="img2" src="../assets/images/Vector1-removebg-preview.png" alt="blue vector">
          <img class="img3" src="../assets/images/Vector2-removebg-preview.png" alt="orange vector">
        </div>
      </div>

      <div class="theme-options-holder">
        <div class="theme-header">
          <h4>Switch Themes</h4>
        </div>
        <hr>
        <div class="theme-options">
          <div class="light-option"></div>
          <div class="dark-option"></div>
          <div class="blue-option"></div>
          <div class="green-option"></div>
        </div>
      </div>

      <div class="intro-emoji-holder">
        <img src="../assets/images/glassesimoji.png" alt="glassesimoji">
      </div>

      <div class="floating-div-1">
        <img src="../assets/images/crown.png" alt="">
        <div>
          <p>Web</p>
          <p>Developer</p>
        </div>
      </div>

      <div class="floating-div-2">
        <img src="../assets/images/thumbup.png" alt="">
        <div>
          <p>Web</p>
          <p>Designer</p>
        </div>
      </div>
    </div>
  </div>
</div>