/* You can add global styles to this file, and also import other style files */
:root {
    --mainBg: rgb(255, 255, 255);
    --aColor: rgb(45, 35, 35);
    --navBoundary: rgb(169, 166, 166);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
  }